workflow.json
{
  "name": "Alerta de Chamados GLPI para Rocket.Chat",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "name": "Agendamento Diário",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [-304, -32],
      "id": "9fac532a-6b93-4b81-8ee5-3e485bbb5bfe",
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "url": "https://SEU_IP_DO_GLPI/apirest.php/initSession",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "user_token",
              "value": "SEU_USER_TOKEN_AQUI"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "App-Token",
              "value": "SEU_APP_TOKEN_AQUI"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "name": "1. Iniciar Sessão GLPI",
      "type": "n8n-nodes-base.httpRequest",
      "position": [-96, -32],
      "id": "262e72d5-b1f4-4b74-8320-00e3233893fb",
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "url": "https://SEU_IP_DO_GLPI/apirest.php/search/Ticket",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "range", "value": "0-3000" },
            { "name": "forcedisplay[0]", "value": "1" },
            { "name": "forcedisplay[1]", "value": "12" },
            { "name": "forcedisplay[2]", "value": "5" },
            { "name": "sort[0]", "value": "2" },
            { "name": "order[0]", "value": "DESC" },
            { "name": "forcedisplay[3]", "value": "80" },
            { "name": "forcedisplay[4]", "value": "15" },
            { "name": "forcedisplay[5]", "value": "10" }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Session-Token",
              "value": "={{ $json.session_token }}"
            },
            {
              "name": "App-Token",
              "value": "SEU_APP_TOKEN_AQUI"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "name": "2. Buscar Chamados",
      "type": "n8n-nodes-base.httpRequest",
      "position": [96, -32],
      "id": "1cb67b9f-bd86-4d91-8acb-906d4166fff2",
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "jsCode": "const chamadosPorTecnico = {};\n\nconst statusMap = {\n  1: \"Novo\",\n  2: \"Em Atendimento\",\n  3: \"Planejado\",\n  4: \"Pendente\"\n};\n\n// TRADUTOR DE URGÊNCIA (Padrão GLPI)\nconst urgenciaMap = {\n  1: \"⚪ Muito Baixa\",\n  2: \"🟢 Baixa\",\n  3: \"🟡 Média\",\n  4: \"🟠 Alta\",\n  5: \"🔴 Muito Alta\"\n};\n\n// TRADUTOR: ID do GLPI -> Usuário do Rocket.Chat\nconst mapaTecnicos = {\n  '101': 'tecnico.um',\n  '102': 'tecnico.dois',\n  '103': 'tecnico.tres'\n};\n\nconst chamados = $input.first().json.data || [];\nconst hoje = new Date();\n\nfor (const chamado of chamados) {\n  const id = chamado[\"2\"];\n  const titulo = chamado[\"1\"];\n  const empresa = chamado[\"80\"] || \"Empresa não informada\";\n  \n  const status = chamado[\"12\"];\n  // Ignora apenas os que já estão Solucionados (5) ou Fechados (6)\n  if (status == 5 || status == 6) {\n    continue; \n  }\n  \n  // CALCULA OS DIAS ABERTO\n  const dataCriacao = chamado[\"15\"];\n  let diasAberto = 0;\n  \n  if (dataCriacao) {\n    const dataChamado = new Date(dataCriacao);\n    const diferencaTempo = Math.abs(hoje - dataChamado);\n    diasAberto = Math.floor(diferencaTempo / (1000 * 60 * 60 * 24));\n  }\n  \n  // CAPTURAR URGÊNCIA\n  const idUrgencia = chamado[\"10\"]; \n  const urgenciaTraduzida = urgenciaMap[idUrgencia] || \"Não informada\";\n\n  // Identifica o técnico (suportando vários técnicos no mesmo chamado)\n  let tecnicosDoChamado = chamado[\"5\"];\n  if (!tecnicosDoChamado) {\n    tecnicosDoChamado = [];\n  } else if (!Array.isArray(tecnicosDoChamado)) {\n    tecnicosDoChamado = [tecnicosDoChamado];\n  }\n  \n  const statusTraduzido = statusMap[status] || status;\n  \n  for (const idTec of tecnicosDoChamado) {\n    const idLimpo = String(idTec).trim();\n    const tecnicoRocketChat = mapaTecnicos[idLimpo];\n    \n    if (tecnicoRocketChat) {\n      if (!chamadosPorTecnico[tecnicoRocketChat]) {\n        chamadosPorTecnico[tecnicoRocketChat] = [];\n      }\n      \n      chamadosPorTecnico[tecnicoRocketChat].push({\n        id: id,\n        titulo: titulo,\n        empresa: empresa,\n        status: statusTraduzido,\n        urgencia: urgenciaTraduzida,\n        diasAberto: diasAberto       \n      });\n    }\n  }\n}\n\nconst resultados = [];\nfor (const [tecnico, lista] of Object.entries(chamadosPorTecnico)) {\n  if (lista.length > 0) {\n      resultados.push({\n        json: {\n          tecnico: tecnico, \n          quantidade: lista.length,\n          lista_chamados: lista\n        }\n      });\n  }\n}\n\nreturn resultados;"
      },
      "name": "4. Agrupar por Técnico",
      "type": "n8n-nodes-base.code",
      "position": [288, -32],
      "id": "12efc582-f049-4602-b836-5c85a80ce8ac",
      "typeVersion": 2,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "url": "https://SEU_IP_DO_GLPI/apirest.php/killSession",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Session-Token",
              "value": "={{ $('1. Iniciar Sessão GLPI').item.json.session_token }}"
            },
            {
              "name": "App-Token",
              "value": "SEU_APP_TOKEN_AQUI"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "name": "5. Encerrar Sessão",
      "type": "n8n-nodes-base.httpRequest",
      "position": [640, -160],
      "id": "29236e6e-ba04-4749-bea5-cddca5af346a",
      "typeVersion": 4.4
    },
    {
      "parameters": {
        "channel": "=@{{ $('Loop Over Items').item.json.tecnico }}",
        "text": "Olá, *{{ $json.tecnico }}*! 🚀\n\nVocê tem *{{ $json.quantidade }}* chamado(s) pendente(s) na sua fila. Confira o resumo completo:\n\n---\n{{ $json.lista_chamados.map(c => `🎫 *[#${c.id}]* ${c.titulo}\\n🏢 *Cliente:* ${c.empresa}\\n🚥 *Status:* ${c.status}\\n🚨 *Urgência:* ${c.urgencia}\\n⏳ *Aberto há:* ${c.diasAberto} dia(s)`).join('\\n\\n') }}\n---\n\nBom trabalho e foco nas prioridades! 💪",
        "options": {}
      },
      "name": "Enviar Alerta Rocket.Chat",
      "type": "n8n-nodes-base.rocketchat",
      "typeVersion": 1,
      "position": [800, 32],
      "id": "c0212b56-7952-4201-aba8-22741deeaced"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [448, -32],
      "id": "f7554d03-c36d-43c0-b5f0-4f56ef3bfbfb",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [640, 32],
      "id": "fb49c224-3a13-45cc-aa8d-cb1f3a0c630a",
      "name": "Wait"
    }
  ],
  "connections": {
    "Agendamento Diário": {
      "main": [ [ { "node": "1. Iniciar Sessão GLPI", "type": "main", "index": 0 } ] ]
    },
    "1. Iniciar Sessão GLPI": {
      "main": [ [ { "node": "2. Buscar Chamados", "type": "main", "index": 0 } ] ]
    },
    "2. Buscar Chamados": {
      "main": [ [ { "node": "4. Agrupar por Técnico", "type": "main", "index": 0 } ] ]
    },
    "4. Agrupar por Técnico": {
      "main": [ [ { "node": "Loop Over Items", "type": "main", "index": 0 } ] ]
    },
    "Loop Over Items": {
      "main": [
        [ { "node": "5. Encerrar Sessão", "type": "main", "index": 0 } ],
        [ { "node": "Wait", "type": "main", "index": 0 } ]
      ]
    },
    "Wait": {
      "main": [ [ { "node": "Enviar Alerta Rocket.Chat", "type": "main", "index": 0 } ] ]
    }
  }
}